.multi-select {
    position: relative;
    width: 65%;
    max-height: 60%;
}

.multi-select_tags {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background: white;
    width: 100%;
    box-sizing: border-box;
    border-left: 1rem solid rgb(210, 210, 210);
    border-right: 1rem solid rgb(210, 210, 210);
}

.select-tag {
    border: 1rem solid rgb(210, 210, 210);
    border-radius: 3rem;
    padding-left: 6rem;
    min-height: 25rem;
    max-width: 90%;
    display: grid;
    margin: 2rem;
    grid-template-areas: "select-tag_value select-tag_delete-btn";
    grid-template-columns: 75% 25%;
}

.select-tag_value {
    grid-area: select-tag_value;
    word-wrap: break-word;
    word-break: break-word;
    font-size: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 2rem 0 2rem;
    box-sizing: border-box;
}

.select-tag_delete-btn {
    grid-area: select-tag_delete-btn;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 2rem 0 2rem;
    box-sizing: border-box;
}

.date-select-box {
    width: 120rem;
    height: 20rem;
}

.select-box {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.date-select-box .simple-select {
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.any-select-box .simple-select_header, .multi-select_header {
    width: 100%;
    height: 30rem;
    box-sizing: border-box;
    display: grid;
    grid-template-areas: "simple-select_header-lbl select-unfold-btn";
    grid-template-columns: 90% 10%;
    z-index: 0;
}

.date-select-box .simple-select_header, .multi-select_header {
    width: 100%;
    height: 20rem;
    box-sizing: border-box;
    display: grid;
    grid-template-areas: "simple-select_header-lbl";
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    z-index: 0;
}

.simple-select_header-lbl {
    grid-area: simple-select_header-lbl;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.multi-select_header-lbl {
    grid-area: simple-select_header-lbl;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5rem;
}

.non-checked-select_lbl {
    font-size: 11rem;
    color: gray;
}

.date-select-box .checked-select_lbl {
    font-size: 13rem;
    color: white;
}

.any-select-box .select-unfold-btn {
    grid-area: select-unfold-btn;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 30rem;
}

.date-select-box .select-unfold-btn {
    grid-area: select-unfold-btn;
    visibility: hidden;
}

.any-select-box .select-item {
    display: grid;
    grid-template-areas: "select-item_value select-item_check-btn";
    grid-template-columns: 85% 15%;
    cursor: pointer;
    width: 100%;
    min-height: 30rem;
    height: auto;
    border-left: 1rem solid rgb(95, 95, 95);
    border-right: 1rem solid rgb(95, 95, 95);
    border-bottom: 1rem solid rgb(95, 95, 95);
    box-sizing: border-box;
    padding: 0 7rem 0 7rem;
}

.date-select-box .select-item {
    display: grid;
    grid-template-areas: "select-item_value select-item_check-btn";
    grid-template-columns: 100% 0;
    cursor: pointer;
    width: 100%;
    min-height: 30rem;
    height: auto;
    border-left: 1rem solid rgb(95, 95, 95);
    border-right: 1rem solid rgb(95, 95, 95);
    border-bottom: 1rem solid rgb(95, 95, 95);
    box-sizing: border-box;
    padding: 0 7rem 0 7rem;
}

.date-select-box .select-item:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.date-select-box .select-item:hover {
    background: #696969;
}

.date-select-box .select-item:hover:active {
    background: #c8c8c8;
    color: black;
}

.date-select-box .select-item_value {
    grid-area: select-item_value;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12rem;
}

.select-item_check-btn {
    grid-area: select-item_check-btn;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.date-select-box .simple-select_options, .advanced-select_options {
    width: 100%;
    top: 60rem;
    background: #2d2f3e;
    z-index: 1;
    max-height: 200rem;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.multi-select_options {
    width: 100%;
    background: white;
}

.advanced-select {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: white;
}

.advanced-select_input {
    top: 30rem;
    width: 100%;
    display: grid;
    grid-template-areas: "advanced-select_input-field advanced-select_input-icon";
    grid-template-columns: 85% 15%;
    box-sizing: border-box;
    height: 30rem;
    border: 1rem solid rgb(210, 210, 210);
    margin: 0;
    background: white;
}

.multi-select_input {
    width: 100%;
    display: grid;
    grid-template-areas: "advanced-select_input-field advanced-select_input-icon";
    grid-template-columns: 85% 15%;
    box-sizing: border-box;
    height: 30rem;
    border: 1rem solid rgb(210, 210, 210);
    margin: 0;
    background: white;
}

.advanced-select_input-field, .multi-select_input-field {
    grid-area: advanced-select_input-field;
    width: 100%;
    height: 100%;
    font-size: 13rem;
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding-left: 5rem;
    background: white;
}

.advanced-select_input-field:focus, .multi-select_input-field:focus {
    outline: none;
    margin: 0;
}

.advanced-select_input-icon, .multi-select_input-icon {
    grid-area: advanced-select_input-icon;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.multi-select_extra {
    position: absolute;
    top: 30rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.advanced-select__extra {
    position: absolute;
    top: 30rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    z-index: 1;
}

.selection-miniature {
    border: 1rem solid gray;
    border-radius: 3rem;
    box-sizing: border-box;
    padding: 4rem;
    margin-right: 3rem;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}