body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 1px;
  }
}

@media screen and (max-width: 1200px)  {
  html {
    font-size: 0.65px;
  }
}


body {
  margin: 0;
  height: 100vh;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
  /*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*  sans-serif;*/
  /*font-family: -apple-system, "SF Pro Display";*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15rem;
  background: rgb(50, 59, 72);
  font-family: "SF Pro Display";
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./font/SFProDisplay-Light.eot');/* IE9 Compat Modes */
  src: local('SF Pro Display Light'), local('SFProDisplay-Light'),
  url('./font/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
  url('./font/SFProDisplay-Light.woff2') format('woff2'),/* Super Modern Browsers */
  url('./font/SFProDisplay-Light.woff') format('woff'),/* Modern Browsers */
  url('./font/SFProDisplay-Light.ttf') format('truetype');/* Safari, Android, iOS */
  font-weight: 200;
  font-style: normal
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./font/SFProDisplay-Regular.eot');/* IE9 Compat Modes */
  src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
  url('./font/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
  url('./font/SFProDisplay-Regular.woff2') format('woff2'),/* Super Modern Browsers */
  url('./font/SFProDisplay-Regular.woff') format('woff'),/* Modern Browsers */
  url('./font/SFProDisplay-Regular.ttf') format('truetype');/* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}